@import 'https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,700';
body {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  background-color: #fff;
  color: #78909c;
}

a {
  color: #fda035;
  text-decoration: none;
}

.section {
  background-color: #fff;
  padding: 1rem 0;
}

.nav {
  background-color: #fff;
  display: -webkit-box;
  display: flex;
  height: 50px;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  padding: 0 15px;
}
.nav:after {
  content: "";
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fda035;
}
.nav .nav-left, .nav .nav-center, .nav .nav-right {
  display: -webkit-box;
  display: flex;
}
.nav-item {
  display: -webkit-box;
  display: flex;
  font-size: 13px;
  line-height: 1;
  -webkit-box-align: center;
          align-items: center;
  padding: 10px;
}
.nav-item.is-brand {
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
}
.nav-item.is-toggle {
  color: #78909c;
}
.nav-item.is-toggle:hover, .nav-item.is-toggle.is-active {
  color: #fda035;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 100%;
}

.nav-menu {
  position: absolute;
  right: 15px;
  top: 55px;
  z-index: 40;
  opacity: 0;
  pointer-events: none;
}
.nav-menu.is-active {
  opacity: 1;
  pointer-events: auto;
}
.nav-menu__item {
  display: -webkit-box;
  display: flex;
  padding: 10px 15px;
  background: #fff;
  border: 1px solid #ddd;
  width: 200px;
  font-weight: 300;
  color: #78909c;
  -webkit-box-align: center;
          align-items: center;
}
.nav-menu__item .material-icons {
  margin-right: 10px;
  color: #fda035;
  font-size: 24px;
}
.nav-menu__item:hover {
  background-color: #eceff1;
}
.nav-menu__item:first-child {
  border-radius: 4px 4px 0 0;
}
.nav-menu__item:not(:last-child) {
  border-bottom: 0 none;
}
.nav-menu__item:last-child {
  border-radius: 0 0 4px 4px;
  border-bottom: 1px solid #ddd;
}

.container {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  padding: 0 15px;
}

.top-nav {
  border-bottom: 1px solid #cfd6db;
  max-height: 60px;
}

.nav-tabs {
  display: -webkit-box;
  display: flex;
  margin-bottom: -1px;
}
.nav-tabs__item {
  padding: 18px 15px;
  display: block;
  color: #78909c;
  margin-right: 5px;
  font-weight: 300;
}
.nav-tabs__item:hover {
  border-bottom: 1px solid #a7b7bf;
}
.nav-tabs__item.is-active {
  color: #fda035;
  border-bottom: 1px solid #fda035;
}

.search__field {
  outline: 0;
  width: 200px;
  font-size: 12px;
  padding: 5px 10px;
  margin: 0;
  border: 1px solid #ddd;
  border-radius: 40px;
}
.search__field:focus {
  border-color: #fda035;
}

.btn {
  display: inline-block;
  padding: 8px 15px;
  font-size: 13px;
  line-height: 1;
  background-color: #fff;
  border-radius: 3px;
}
.btn.is-small {
  padding: 6px 12px;
  font-size: 12px;
}
.btn-default {
  border: 1px solid #dcb3e3;
}
.btn-default:hover {
  border: 1px solid #fda035;
}
.btn-primary {
  background-color: #fda035;
  color: #fff;
  border: 1px solid #442f03;
}
.btn-primary:hover {
  background-color: #774f04;
}

.nav-action .btn:not(:last-of-type) {
  margin-right: 5px;
}

.btn-group .btn {
  margin-right: -1px !important;
  border-radius: 0;
}
.btn-group .btn:first-of-type {
  border-radius: 3px 0 0 3px;
}
.btn-group .btn:last-of-type {
  border-radius: 0 3px 3px 0;
  margin: 0;
}

.table {
  width: 100%;
  border-collapse: collapse;
}
.table tr:not(:last-of-type) td, .table th {
  border-bottom: 1px solid #cfd6db;
}
.table th, .table td {
  padding: 5px;
  text-align: left;
  font-weight: 400;
}
.table thead th {
  color: #5f7682;
}
.table tbody th, .table tbody td {
  padding: 8px 5px;
}
.table .is-icon {
  text-align: center !important;
  width: 1%;
}
.table .is-icon .material-icons {
  font-size: 18px;
}

.has-text-right {
  text-align: right !important;
}