.login-wrap {
    position: relative;
    margin: 0 auto;
    background: #ecf0f1;
    width: 350px;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #333;
    padding: 15px;
  }
    .login-wrap h2 {
    text-align: center;
    font-weight: 200;
    font-size: 2em;
    margin-top: 10px;
    color: #34495e;
  }
    .login-wrap .form {
    padding-top: 20px;
  }
    .login-wrap .form input[type="text"],
    .login-wrap .form input[type="password"],
    .login-wrap .form button {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 25px;
    height: 40px;
    border-radius: 5px;
    outline: 0;
    -moz-outline-style: none;
  }
    .login-wrap .form input[type="text"],
    .login-wrap .form input[type="password"] {
    border: 1px solid #bbb;
    padding: 0 0 0 10px;
    font-size: 14px;
  }
    .login-wrap .form input[type="text"]:focus,
    .login-wrap .form input[type="password"]:focus {
    border: 1px solid #3498db;
  }
    .login-wrap .form a {
    text-align: center;
    font-size: 10px;
    color: #3498db;
  }
    .login-wrap .form a p {
    padding-bottom: 10px;
  }
    .login-wrap .form .btn {
    background: #e74c3c;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;
    transition: box-shadow .4s ease;
  }

  .input[type="submit"] {
    background: #e74c3c;
    border: none;
    color: white;
    font-size: 18px;
    font-weight: 200;
    cursor: pointer;
    transition: box-shadow .4s ease;
  }